<style>
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Mono|Satisfy&display=swap');
</style>

h1 {
    display: flex;
    width: 100px;
    background-color: black;
    height: 100px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 60px;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
}
/* 
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    height: 30px;
}
.small {
    background-color: red;
    text-align: center;
    display: block;
}
.large {
    background-color: blue;
    color: white;
    text-align: right;
    display: none;
}
@media screen and (min-width: 960px) {
    .small {
        display: none;
    }
    .large {
        display: block;
    }
} */