#name {
    color: red;
}

.blocks {
    display: flex;
    flex-direction: column;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-image: url("images/siera.jpg"); */
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.footer {
    background-color: black;
}

div h1 {
    /* background: rgba(168, 136, 136, 0.4); */
    margin: 1vw 20vw;
}


nav {
    /* width: 100vw; */
    background-color: #000;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3vh;
    padding: 2vw;
}

li {
    list-style-type: none;
    font-size: 3vh;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 2vw;
    font-size: 20px;
}

a:hover {
    background-color: rgb(116, 19, 19);
}

button {
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
}

@media screen and (max-width: 640px) {
    ul {
        flex-direction: column;
    }

    ul {
        margin: 0;
    }

    a {
        display: block;
    }

    button {
        display: block;
        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
    }
}
