.blocks {
    display: flex;
    flex-direction: column;
}

.background {
    width: 100%;
}

body {
    margin: 0;
}

nav {
    width: 100vw;
    background-color: #D6EFFF;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    padding: 2vw;
}

li {
    list-style-type: none;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: black;
    padding: 2vw;
}

a:hover {
    background-color: #C6E9FF;
}

button {
    display: none;
}

@media screen and (max-width: 640px) {
    ul {
        flex-direction: column;
    }

    ul {
        margin: 0;
    }

    a {
        display: block;
    }

    button {
        display: block;
        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
    }
}

